.cart-table {
	min-width: 480px;
	font-size: 14px;

}

.cart-thead {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .2em;
	background-color: #7C4700 !important;


}

.cart-icon {
	text-decoration: none;
	color: #3A1F04;

}